.button {
    display: inline-block;
    border: 1px solid var(--white-text-color);
    border-radius: 5px;
    padding: 13px 36px;
    text-transform: uppercase;
    background-color: transparent;
    align-items: center;
    text-align: center;
  
    font-family: Roboto, sans-serif;
    font-style: normal;
    @include font(500, 12px, 16px, 0.03em);
    color: var(--white-text-color);
    
    
    &:not(:last-child) {
      margin-right: 20px;
    }
  
    &.swich-on {
      border: none;
      background-color: var(--accent-color);
      color: var(--white-text-color);
     
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
  
      &:hover,
      &:focus {
        background-color: var(--primary-text-color);
      }
    }
  
  }


  
  //====0-767==== 
  
  // @media screen and (max-width: 767px) {
  //   .button {
  //     margin: 0;
  //   }
  // }