

//  основной цвет текста черный #0000
//  вторичный цвет текста серый #545454
//  белый #FFFFFF 
//  акцент #FF6B08





:root {
    --primary-text-color: #000;
    --second-text-color: #545454;
    --white-text-color: #ffffff;
    --accent-color: #FF6B08;
  }